* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.wrapper {
  margin: 0px auto;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .div1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  height: 100vh;
  grid-row: 1/-1;
  display: -ms-grid;
  display: grid;
  background: radial-gradient(circle at 88% 18%, rgba(136, 136, 136, 0.05) 0%, rgba(136, 136, 136, 0.05) 50%, rgba(172, 172, 172, 0.05) 50%, rgba(172, 172, 172, 0.05) 100%), radial-gradient(circle at 34% 9%, rgba(149, 149, 149, 0.05) 0%, rgba(149, 149, 149, 0.05) 50%, rgba(55, 55, 55, 0.05) 50%, rgba(55, 55, 55, 0.05) 100%), radial-gradient(circle at 37% 56%, rgba(97, 97, 97, 0.05) 0%, rgba(97, 97, 97, 0.05) 50%, rgba(160, 160, 160, 0.05) 50%, rgba(160, 160, 160, 0.05) 100%), linear-gradient(69deg, #0a4497, #48d3a5);
  background-position: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.wrapper .div1 .intro {
  width: 600px;
  -webkit-animation: slideRight 1.5s ease-in-out;
          animation: slideRight 1.5s ease-in-out;
  -webkit-transition: -webkit-transform 1.3s ease-in;
  transition: -webkit-transform 1.3s ease-in;
  transition: transform 1.3s ease-in;
  transition: transform 1.3s ease-in, -webkit-transform 1.3s ease-in;
}

.wrapper .div1 .intro h1 {
  color: #fff;
  font-weight: bold;
  word-wrap: break-word;
  font-size: 70px;
}

.wrapper .div1 .intro h2 {
  color: #fff;
  font-size: 50px;
}

.wrapper .div2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  grid-row: 1/-1;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (auto)[2];
      grid-template-rows: repeat(2, auto);
  background: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  position: relative;
  overflow: hidden;
}

.wrapper .div2 .circle1 {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  top: -50px;
  right: -20px;
  background: -webkit-gradient(linear, left top, right top, from(#33ccff), to(#0066cc));
  background: linear-gradient(to right, #33ccff, #0066cc);
  z-index: 1;
  opacity: 0.5;
}

.wrapper .div2 .circle2 {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  top: 50px;
  left: -150px;
  background: -webkit-gradient(linear, left top, right top, from(#33ccff), to(#0066cc));
  background: linear-gradient(to right, #33ccff, #0066cc);
  z-index: 1;
  opacity: 0.3;
}

.wrapper .div2 .circle3 {
  position: absolute;
  width: 600px;
  height: 600px;
  border-radius: 50%;
  bottom: -300px;
  right: -200px;
  background: -webkit-gradient(linear, left top, right top, from(#33ccff), to(#0066cc));
  background: linear-gradient(to right, #33ccff, #0066cc);
  z-index: 1;
  opacity: 0.3;
}

.wrapper .alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
}

.wrapper .closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.wrapper .log_box {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  width: 400px;
  height: 400px;
  border-radius: 5px;
  background: -webkit-gradient(linear, left top, right top, from(#33ccff), to(#0066cc));
  background: linear-gradient(to right, #33ccff, #0066cc);
  padding: 30px;
  -webkit-box-shadow: 1px 1px 3px 1px rgba(255, 255, 255, 0.5);
          box-shadow: 1px 1px 3px 1px rgba(255, 255, 255, 0.5);
  -webkit-animation: slideDown 1.5s ease-in-out;
          animation: slideDown 1.5s ease-in-out;
  -webkit-transition: -webkit-transform 1.3s ease-in;
  transition: -webkit-transform 1.3s ease-in;
  transition: transform 1.3s ease-in;
  transition: transform 1.3s ease-in, -webkit-transform 1.3s ease-in;
  position: relative;
  z-index: 2;
}

.wrapper .log_box form {
  margin: 30px 0;
}

.wrapper .log_box form label {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}

.wrapper .log_box form input {
  margin: 20px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #ffff;
  color: #fff !important;
  caret-color: #fff;
  outline: 0;
}

.wrapper .log_box form .login_btn {
  background: #fff;
  width: 100px;
  height: 40px;
  border: 0;
  font-size: 18px;
  color: #0066ff;
}

@-webkit-keyframes slideDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slideDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes slideRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
/*# sourceMappingURL=admin.css.map */