*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
.wrapper{
    margin: 0px auto;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    align-items: center;
    .div1{
        grid-column: 1/2;
        height: 100vh;
        grid-row: 1/-1;
        display: grid;
        background: radial-gradient(circle at 88% 18%, rgba(136, 136, 136,0.05) 0%, rgba(136, 136, 136,0.05) 50%,rgba(172, 172, 172,0.05) 50%, rgba(172, 172, 172,0.05) 100%),radial-gradient(circle at 34% 9%, rgba(149, 149, 149,0.05) 0%, rgba(149, 149, 149,0.05) 50%,rgba(55, 55, 55,0.05) 50%, rgba(55, 55, 55,0.05) 100%),radial-gradient(circle at 37% 56%, rgba(97, 97, 97,0.05) 0%, rgba(97, 97, 97,0.05) 50%,rgba(160, 160, 160,0.05) 50%, rgba(160, 160, 160,0.05) 100%),linear-gradient(69deg, rgb(10, 68, 151),rgb(72, 211, 165));
        background-position: center;
        align-items: center;
        justify-items: center;

        .intro{
            width: 600px;
            animation: slideRight 1.5s ease-in-out;
            transition: transform 1.3s ease-in;
            h1{
                color: #fff;
                font-weight: bold;
                word-wrap: break-word;
                font-size: 70px;
            }
            h2{
                color: #fff;
                font-size: 50px;
            }
        }
    }
    .div2{
        grid-column: 2/3;
        grid-row: 1/-1;
        height: 100vh;
        display: grid;
        grid-template-rows: repeat(2, auto);
        background: #fff;
        align-items: center;
        justify-items: center;
        position: relative;
        overflow: hidden;
        .circle1{
            position: absolute;
            width: 200px;
            height: 200px;
            border-radius: 50%;
            top: -50px;
            right: -20px;
            background: linear-gradient(to right, #33ccff, #0066cc);
            z-index: 1;
            opacity: 0.5;
        }
        .circle2{
            position: absolute;
            width: 300px;
            height: 300px;
            border-radius: 50%;
            top: 50px;
            left: -150px;
            background: linear-gradient(to right, #33ccff, #0066cc);
            z-index: 1;
            opacity: 0.3;
        }
        .circle3{
            position: absolute;
            width: 600px;
            height: 600px;
            border-radius: 50%;
            bottom: -300px;
            right: -200px;
            background: linear-gradient(to right, #33ccff, #0066cc);
            z-index: 1;
            opacity: 0.3;
        }
    }
    .alert {
        padding: 20px;
        background-color: #f44336;
        color: white;
      }
      
      .closebtn {
        margin-left: 15px;
        color: white;
        font-weight: bold;
        float: right;
        font-size: 22px;
        line-height: 20px;
        cursor: pointer;
        transition: 0.3s;
      }
      
    .log_box{
        grid-row: 2/3;
        width: 400px;
        height: 400px;
        border-radius:5px;
        background: linear-gradient(to right, #33ccff, #0066cc);
        padding: 30px;
        box-shadow: 1px 1px 3px 1px rgba(255,255,255,0.5);
        animation: slideDown 1.5s ease-in-out;
        transition: transform 1.3s ease-in;
        position: relative;
        z-index: 2;
        form{
            margin: 30px 0;
            label{
                color: #fff;
                font-size: 18px;
                font-weight: 600;
            }
            input{
                margin: 20px 0;
                background: none;
                border: none;
                border-bottom: 1px solid #ffff;
                color: #fff !important;
                caret-color: #fff;
                outline: 0;
            }
            .login_btn{
                background:#fff;
                width: 100px;
                height: 40px;
                border:0;
                font-size: 18px;
                color: #0066ff;
            }
        }
    }
}

@keyframes slideDown
{
    0%
    {
        opacity: 0;
        transform: translateY(-50px);
    }
    100%
    {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideRight
{
    0%
    {
        opacity: 0;
        transform: translateX(-100px);
    }
    100%
    {
        opacity: 1;
        transform: translateX(0);
    }
}