@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: "Libre Baskerville";
}

p {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.75;
}

hr {
  border: 1px solid #ddd;
  margin: 30px 0;
}

a {
  text-decoration: none;
  color: #212121;
}

a:hover {
  text-decoration: none;
  color: #212121;
}

.divider {
  width: 200px;
  height: 1px;
  background: #ddd;
  margin: 20px 0;
}

header {
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  background: #5c85d6;
  padding: 0 30px;
}

header .wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto;
      grid-template-columns: 1fr auto;
  -ms-grid-rows: 60px;
      grid-template-rows: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .wrap .logo a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

header .wrap .logo a:hover {
  text-decoration: none;
  color: #fff;
}

header .wrap .navbar_toggler .fa-bars {
  color: #fff;
  font-size: 18px;
}

header .wrap .nav {
  display: none;
}

.content {
  position: relative;
  height: 100%;
}

.wrapper {
  max-width: 90%;
  min-height: 75vh;
  width: 100%;
  margin: 60px auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  grid-auto-rows: auto;
}

.wrapper main .post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper main .post .post_thumb {
  width: 95%;
  height: 200px;
  margin: 20px auto;
}

.wrapper main .post .post_thumb img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.wrapper main .post .post_content .post_title {
  text-align: left;
  max-width: 95%;
  margin: 0 auto;
}

.wrapper main .post .post_content p {
  padding: 20px 0 0 0;
  text-align: justify;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  /* Number of lines displayed before it truncate */
  overflow: hidden;
}

.wrapper sidebar .side_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 95%;
  margin: 0 auto;
}

.wrapper sidebar .side_content .category button {
  background: #5c85d6;
  width: 150px;
  height: 40px;
  font-size: 18px;
  color: #fff;
  border: none;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.wrapper sidebar .side_content .category .category_list {
  margin: 20px 0;
  list-style: none;
}

.wrapper sidebar .side_content .category .category_list li {
  padding: 20px 0;
}

.wrapper sidebar .side_content .category .category_list li a {
  text-decoration: none;
  color: #5c85d6;
  letter-spacing: 0.3rem;
}

.wrapper sidebar .side_content .category .recent_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper sidebar .side_content .category .recent_content .recent_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper sidebar .side_content .category .recent_content .recent_items img {
  max-width: 80px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
}

.wrapper sidebar .side_content .category .recent_content .recent_items p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  /* Number of lines displayed before it truncate */
  overflow: hidden;
  font-size: 14px;
  height: 100%;
  padding: 0 10px;
}

@media (min-width: 768px) {
  header .wrap .navbar_toggler {
    display: none;
  }
  header .wrap .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
  }
  header .wrap .nav li {
    padding: 0 20px;
  }
  header .wrap .nav li a {
    text-decoration: none;
    color: #fff;
  }
  .wrapper {
    max-width: 90%;
    width: 100%;
    height: 100%;
    margin: 60px auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
  }
  .wrapper main .post .post_content p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    /* Number of lines displayed before it truncate */
    overflow: hidden;
  }
  .wrapper sidebar .side_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 95%;
    margin: 0 auto;
  }
  .wrapper sidebar .side_content .category {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .wrapper sidebar .side_content .category button {
    background: #5c85d6;
    width: 150px;
    height: 40px;
    font-size: 18px;
    color: #fff;
    border: none;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }
  .wrapper sidebar .side_content .category .category_list {
    margin: 20px 0;
    list-style: none;
  }
  .wrapper sidebar .side_content .category .category_list li {
    padding: 20px 0;
  }
  .wrapper sidebar .side_content .category .category_list li a {
    text-decoration: none;
    color: #5c85d6;
    letter-spacing: 0.3rem;
  }
}

@media (min-width: 1024px) {
  .wrapper {
    max-width: 90%;
    width: 100%;
    margin: 60px auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 200px;
        grid-template-columns: auto 200px;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    grid-auto-rows: auto;
    grid-gap: 20px;
  }
  .wrapper main {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    grid-row: 1/-1;
  }
  .wrapper main .post_content .post_title {
    text-align: left;
    max-width: 95%;
    margin: 0 auto;
  }
  .wrapper main .post_content p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    /* Number of lines displayed before it truncate */
    overflow: hidden;
  }
  .wrapper sidebar {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    grid-row: 1/-1;
    margin: 20px 0;
  }
  .wrapper sidebar .side_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 95%;
    margin: 0 auto;
  }
}

@media (min-width: 1280px) {
  header .wrap {
    max-width: 1200px;
    margin: 0px auto;
  }
  .wrapper {
    max-width: 1200px;
    width: 100%;
    margin: 60px auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 250px;
        grid-template-columns: auto 250px;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    grid-auto-rows: auto;
    grid-gap: 20px;
  }
  .wrapper main {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    grid-row: 1/-1;
  }
  .wrapper main .post_content .post_title {
    text-align: left;
    max-width: 95%;
    margin: 0 auto;
  }
  .wrapper main .post_content p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    /* Number of lines displayed before it truncate */
    overflow: hidden;
  }
  .wrapper sidebar {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    grid-row: 1/-1;
    margin: 20px 0;
  }
  .wrapper sidebar .side_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 95%;
    margin: 0 auto;
  }
}

footer {
  background: #5c85d6;
  position: relative;
  bottom: 0;
}
/*# sourceMappingURL=category_page.css.map */