.wrapper {
  display: -ms-grid;
  display: grid;
  height: 100vh;
  -ms-grid-columns: 250px auto;
      grid-template-columns: 250px auto;
  -ms-grid-rows: 60px auto;
      grid-template-rows: 60px auto;
}

.wrapper header {
  grid-column: 1/-1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  background: -webkit-gradient(linear, left top, right top, from(#33ccff), to(#0066cc));
  background: linear-gradient(to right, #33ccff, #0066cc);
}

.wrapper header .nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1200px;
  margin: 0px auto;
  height: 100%;
}

.wrapper header .nav h3 {
  color: #fff;
}

.wrapper header .nav .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.wrapper header .nav .link a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  padding: 0 20px;
}

.wrapper sidebar {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  grid-row: 2/-1;
  background: radial-gradient(circle at 88% 18%, rgba(136, 136, 136, 0.05) 0%, rgba(136, 136, 136, 0.05) 50%, rgba(172, 172, 172, 0.05) 50%, rgba(172, 172, 172, 0.05) 100%), radial-gradient(circle at 34% 9%, rgba(149, 149, 149, 0.05) 0%, rgba(149, 149, 149, 0.05) 50%, rgba(55, 55, 55, 0.05) 50%, rgba(55, 55, 55, 0.05) 100%), radial-gradient(circle at 37% 56%, rgba(97, 97, 97, 0.05) 0%, rgba(97, 97, 97, 0.05) 50%, rgba(160, 160, 160, 0.05) 50%, rgba(160, 160, 160, 0.05) 100%), linear-gradient(69deg, #0a4497, #48d3a5);
}

.wrapper sidebar hr {
  border: 1px solid #ddd;
}

.wrapper sidebar .admin_info {
  height: 150px;
  width: 100%;
  position: relative;
}

.wrapper sidebar .admin_info .circle {
  width: 80px;
  height: 80px;
  margin: 8px 0;
  border-radius: 50%;
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  overflow: hidden;
  z-index: 1;
}

.wrapper sidebar .admin_info .circle img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.wrapper sidebar .admin_info .online {
  position: absolute;
  top: 55%;
  right: 30%;
  width: 20px;
  height: 20px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #1aff1a;
  border: 1px solid #fff;
  z-index: 2;
  border-radius: 50%;
}

.wrapper sidebar .admin_info p {
  position: absolute;
  top: 80%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
}

.wrapper sidebar ul {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
}

.wrapper sidebar ul li {
  padding: 20px 20px;
  width: 100%;
}

.wrapper sidebar ul li a {
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  width: 100%;
  display: block;
  -webkit-transition: -webkit-transform 0.36s ease-in-out;
  transition: -webkit-transform 0.36s ease-in-out;
  transition: transform 0.36s ease-in-out;
  transition: transform 0.36s ease-in-out, -webkit-transform 0.36s ease-in-out;
}

.wrapper sidebar ul li:hover {
  background: #fff;
}

.wrapper sidebar ul li:hover a {
  color: #333;
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
}

.wrapper main {
  grid-column: 2/-1;
  grid-row: 2/-1;
  padding: 20px 20px;
  overflow-y: scroll;
}

.wrapper main .content hr {
  border: 1px solid #333;
}

.wrapper main .content .alert span {
  cursor: pointer;
  color: #fff;
}

.wrapper main .content form {
  margin: 50px 0;
  padding: 0 50px 0 0;
}

.wrapper main .content form select {
  width: 300px;
}

.wrapper main .content .cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (300px)[3];
      grid-template-columns: repeat(3, 300px);
  -ms-grid-rows: 150px;
      grid-template-rows: 150px;
  grid-auto-rows: 150px;
  grid-gap: 20px;
}

.wrapper main .content .cards .card1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  border-radius: 5px;
}

.wrapper main .content .cards .card1 .card_bdy a:hover {
  background: #fff;
  color: tomato;
}

.wrapper main .content .cards .card2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  border-radius: 5px;
}

.wrapper main .content .cards .card2 .card_bdy a:hover {
  background: #fff;
  color: #0099ff;
}

.wrapper main .content .cards .card3 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  border-radius: 5px;
}

.wrapper main .content .cards .card3 .card_bdy a:hover {
  background: #fff;
  color: #009933;
}

.card_bdy {
  padding: 20px;
}

.card_bdy a {
  border: 1px solid #fff;
  width: 100px;
  color: #fff;
}
/*# sourceMappingURL=dashboard.css.map */