
.wrapper{
    display: grid;
    height: 100vh;
    grid-template-columns: 250px auto;
    grid-template-rows: 60px auto;

    header{
        grid-column: 1/-1;
        grid-row: 1/2;
        background:linear-gradient(to right, #33ccff, #0066cc);

        .nav{
            display: grid;
            grid-template-columns: repeat(2, auto);
            grid-template-rows: auto;
            align-items: center;
            max-width: 1200px;
            margin: 0px auto;
            height: 100%;

            h3{
                color: #fff;
            }
            .link{
                display: flex;
                justify-content: flex-end;
                a{
                    text-decoration: none;
                    color: #fff;
                    font-size: 18px;
                    padding: 0 20px;
                }
            }
        }
    }
    sidebar{
        grid-column: 1/2;
        grid-row: 2/-1;
        background: radial-gradient(circle at 88% 18%, rgba(136, 136, 136,0.05) 0%, rgba(136, 136, 136,0.05) 50%,rgba(172, 172, 172,0.05) 50%, rgba(172, 172, 172,0.05) 100%),radial-gradient(circle at 34% 9%, rgba(149, 149, 149,0.05) 0%, rgba(149, 149, 149,0.05) 50%,rgba(55, 55, 55,0.05) 50%, rgba(55, 55, 55,0.05) 100%),radial-gradient(circle at 37% 56%, rgba(97, 97, 97,0.05) 0%, rgba(97, 97, 97,0.05) 50%,rgba(160, 160, 160,0.05) 50%, rgba(160, 160, 160,0.05) 100%),linear-gradient(69deg, rgb(10, 68, 151),rgb(72, 211, 165));

        hr{
            border:1px solid #ddd;
        }

        .admin_info{
            height: 150px;
            width: 100%;
            position: relative;
            
            .circle{
                width: 80px;
                height: 80px;
                margin: 8px 0;
                border-radius: 50%;
                // border:1;
                position: absolute;
                top: 30%;
                left: 50%;
                transform: translate(-50%,-50%);
                overflow: hidden;
                z-index: 1;

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .online{
                position: absolute;
                top: 55%;
                right: 30%;
                width: 20px;
                height: 20px;
                transform: translate(-50%, -50%);
                background: #1aff1a;
                border:1px solid #fff;
                z-index: 2;
                border-radius: 50%;
            }
            p{
                position: absolute;
                top: 80%;
                left: 50%;
                transform: translate(-50%,-50%);
                color: #fff;
            }
        }
        ul{
            list-style: none;
            width: 100%;
            margin: 0;
            padding: 0;

            li{
                padding: 20px 20px;
                width: 100%;

                a{
                    font-size: 18px;
                    color: #fff;
                    text-decoration: none;
                    width: 100%;
                    display: block;
                    transition:transform 0.36s ease-in-out;
                }
                &:hover
                {
                    background: #fff;
                }
                &:hover a
                {
                    color: #333;
                    transform: translateX(20px);
                    
                }
            }
        }
    }
    main{
        grid-column: 2/-1;
        grid-row: 2/-1;
        padding: 20px 20px;
        overflow-y: scroll;
        .content{
            hr{
                border:1px solid #333;
            }
            .alert{
                span{
                    cursor: pointer;
                    color: #fff;
                }
            }
            form{
                margin: 50px 0;
                padding: 0 50px 0 0;
                select{
                    width: 300px;
                }
            }
            .cards{
                display: grid;
                grid-template-columns: repeat( 3, 300px);
                grid-template-rows: 150px;
                grid-auto-rows: 150px;
                grid-gap: 20px;

                .card1{
                    grid-column: 1/2;
                    border-radius: 5px;
                    .card_bdy{
                        a{
                            &:hover{
                                background:#fff;
                                color: tomato;
                            }
                        }
                    }
                }
                .card2{
                    grid-column: 2/3;
                    border-radius: 5px;
                    .card_bdy{
                        a{
                            &:hover{
                                background:#fff;
                                color: #0099ff;
                            }
                        }
                    }
                }
                .card3{
                    grid-column: 3/4;
                    border-radius: 5px;
                    .card_bdy{
                        a{
                            &:hover{
                                background:#fff;
                                color: #009933;
                            }
                        }
                    }
                }
            }
        }
    }
    
}
.card_bdy{
    padding: 20px;

    a{
        border:1px solid #fff;
        width: 100px;
        color: #fff;
    }
}