@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap');

*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    font-family: 'Libre Baskerville', ;
}
p{
    font-family: 'Open Sans', sans-serif;
    line-height: 1.75;
    text-align: justify;
}
hr{
    border:1px solid #ddd;
    margin: 30px 0;
}
a{
    text-decoration: none;
    color: #212121;
    &:hover{
        text-decoration: none;
        color: #212121;
    }
}
.divider{
    width: 200px;
    height: 1px;
    background: #ddd;
    margin: 20px 0;
}
header{
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    background: #5c85d6;
    padding: 0 30px;

    .wrap{
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: 60px;
        align-items: center;

        .logo{
            a{
                color: #fff;
                text-decoration: none;
                font-size: 18px;
                font-weight: bold;
    
                &:hover{
                    text-decoration: none;
                    color: #fff;
                }
            }
        }
        .navbar_toggler{
            .fa-bars{
                color:#fff;
                font-size: 18px;
            }
        }
        .nav{
            display: none;
        }
    }
    
}
.content{
    position: relative;
    height: 100%;
    
}
.wrapper{
    max-width: 90%;
    min-height: 75vh;
    width: 100%;
    margin: 60px auto;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-auto-rows: auto ;

    main{

        .post{
            display: flex;
            flex-direction: column;
    
            .post_thumb{
                width: 95%;
                height: 400px;
                margin: 20px auto;
    
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .post_content{
    
                .post_title{
                    text-align: left;
                    max-width: 95%;
                    margin: 0 auto;
                }
                
            }
        }
    }
    
    sidebar{
        .side_content{
            display: flex;
            flex-direction: column;
            max-width: 95%;
            margin: 0 auto;

            .category
            {
                button{
                    background:#5c85d6;
                    width: 150px;
                    height: 40px;
                    font-size: 18px;
                    color: #fff;
                    border:none;
                    border-top-left-radius: 30px;
                    border-bottom-right-radius: 30px;
                }
                .category_list{
                    margin: 20px 0;
                    list-style: none;

                    li{
                        padding: 20px 0;

                        a{
                            text-decoration: none;
                            color: #5c85d6;
                            letter-spacing: 0.3rem;
                        }
                    }
                }
                .recent_content{
                    display: flex;
                    flex-direction: column;
                    .recent_items{
                        display: flex;
                        padding: 5px 5px;
                        align-items: center;

                        img{
                            max-width: 80px;
                            height: 80px;
                            object-fit: cover;
                        }
                        
                    }
                }
            }
        }
    }

}

@media (min-width: 768px)
{
    header{
        .wrap{
            .navbar_toggler{
                display: none;
            }
            .nav{
                display: flex;
                list-style: none;
    
                li{
                    padding: 0 20px;
    
                    a{
                        text-decoration:none;
                        color:#fff;
                    }
                }
            }
        }
    }
    .wrapper{
        max-width: 90%;
        width: 100%;
        height: 100%;
        margin: 60px auto;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(2, 1fr);
        
        sidebar{
            .side_content{
                display: flex;
                flex-direction: row;
                max-width: 95%;
                margin: 0 auto;
    
                .category
                {
                    flex: 1;
                    button{
                        background:#5c85d6;
                        width: 150px;
                        height: 40px;
                        font-size: 18px;
                        color: #fff;
                        border:none;
                        border-top-left-radius: 30px;
                        border-bottom-right-radius: 30px;
                    }
                    .category_list{
                        margin: 20px 0;
                        list-style: none;

                        li{
                            padding: 20px 0;

                            a{
                                text-decoration: none;
                                color: #5c85d6;
                                letter-spacing: 0.3rem;
                            }
                        }
                    }
                }
            }
        }
    }
}


// Desktop View 

@media (min-width: 1024px)
{
    .wrapper{
        // display: none !important;
        max-width: 90%;
        width: 100%;
        margin: 60px auto;
        display: grid;
        grid-template-columns: auto 200px;
        grid-template-rows: auto;
        grid-auto-rows: auto;
        grid-gap: 20px;
    
        main{
            grid-column: 1/2;
            grid-row: 1/-1;
        //     .post{
        //         display: flex;
        //         flex-direction: column;
        
        //         .post_thumb{
        //             width: 95%;
        //             height: 200px;
        //             margin: 20px auto;
        
        //             img{
        //                 width: 100%;
        //                 height: 100%;
        //                 object-fit: cover;
        //             }
        //         }
                .post_content{
        
                    .post_title{
                        text-align: left;
                        max-width: 95%;
                        margin: 0 auto;
                    }
                }
        //     }
        }
        
        sidebar{
            grid-column: 2/3;
            grid-row: 1/-1;
            margin: 20px 0;
            .side_content{
                display: flex;
                flex-direction: column;
                max-width: 95%;
                margin: 0 auto;
            }
    //             .category
    //             {
    //                 button{
    //                     background:#5c85d6;
    //                     width: 150px;
    //                     height: 40px;
    //                     font-size: 18px;
    //                     color: #fff;
    //                     border:none;
    //                     border-top-left-radius: 30px;
    //                     border-bottom-right-radius: 30px;
    //                 }
    //             }
    //         }
    //     }
    
        }
    }
}

@media (min-width: 1280px)
{
    header
    {
        .wrap{
            max-width: 1200px;
            margin: 0px auto;
        }
    }
    .wrapper{
        // display: none !important;
        max-width: 1200px;
        width: 100%;
        margin: 60px auto;
        display: grid;
        grid-template-columns: auto 250px;
        grid-template-rows: auto;
        grid-auto-rows: auto;
        grid-gap: 20px;
    
        main{
            grid-column: 1/2;
            grid-row: 1/-1;
        //     .post{
        //         display: flex;
        //         flex-direction: column;
        
        //         .post_thumb{
        //             width: 95%;
        //             height: 200px;
        //             margin: 20px auto;
        
        //             img{
        //                 width: 100%;
        //                 height: 100%;
        //                 object-fit: cover;
        //             }
        //         }
                .post_content{
        
                    .post_title{
                        text-align: left;
                        max-width: 95%;
                        margin: 0 auto;
                    }
                }
        //     }
        }
        
        sidebar{
            grid-column: 2/3;
            grid-row: 1/-1;
            margin: 20px 0;
            .side_content{
                display: flex;
                flex-direction: column;
                max-width: 95%;
                margin: 0 auto;
            }
    //             .category
    //             {
    //                 button{
    //                     background:#5c85d6;
    //                     width: 150px;
    //                     height: 40px;
    //                     font-size: 18px;
    //                     color: #fff;
    //                     border:none;
    //                     border-top-left-radius: 30px;
    //                     border-bottom-right-radius: 30px;
    //                 }
    //             }
    //         }
    //     }
    
        }
    }
}


//footer

footer{
    background: #5c85d6;
    position: relative;
    bottom:0;
}